@tailwind base;
@tailwind components;
@tailwind utilities;


.main{
  
  height: 100%;
  width: 100%;
  position: fixed;
}

.overview{

  position: fixed;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  top: 50px;
  left: 20px;
 color: rgba(253, 253, 253, 0.659);
  height: 60px;
  width: 300px;
  
}
.profile{
  position: fixed;
  top: 130px;
  left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  height: 300px;
  width: 300px;
  border-radius: 12px;
  opacity: 0.86;
  box-shadow: 0 0 10px rgba(46, 45, 45, 0.5);
}

.points{
  position: fixed;
  border-radius: 12px;
  top: 50px;
  left: 38%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  height: 300px;
  width: 600px;
  opacity: 0.86;
  box-shadow: 0 0 10px rgba(46, 45, 45, 0.5);
}

.level{
  position: fixed;
  top: 450px;
  left:20px;
  background-color: black;
  height: 300px;
  width:350px;
  border-radius: 12px;
  opacity: 0.86;
  box-shadow: 0 0 10px rgba(46, 45, 45, 0.5);
}

.tog{
  position: fixed;
  top: 60px;
  right: 18%;
  background-color:black;
  height: 230px;
  border-radius: 12px;
  width: 480px;
  opacity: 0.86;
  box-shadow: 0 0 10px rgba(46, 45, 45, 0.5);

}

.trophies{
  position: fixed;
  top: 320px;
  right: 357px;
  background-color: black;
  height: 370px;
  width: 400px;
  border-radius: 12px;
  opacity: 0.8;
  box-shadow: 0 0 10px rgba(46, 45, 45, 0.5);

}
.stats{
  position: fixed;
  top: 800px;
  left: 20px;
  background-color: black;
  height: 200px;
  width: 300px;
  border-radius: 12px;
  opacity: 0.8;
  box-shadow: 0 0 10px rgba(46, 45, 45, 0.5);
}

.next-quest{
  position: fixed;
  border-radius: 12px;
  top: 380px;
  left: 38%;
  transform: translateX(-50%);
  background-color: black;
  height: 350px;
  width: 600px;
  opacity: 0.8;
  box-shadow: 0 0 10px rgba(46, 45, 45, 0.5);

}
.tokens{
  position: fixed;
  border-radius: 12px;
  top: 750px;
  left: 28%;
  transform: translateX(-50%);
  background-color:  black;
  height: 250px;
  width: 270px;
  opacity: 0.8;
  box-shadow: 0 0 10px rgba(46, 45, 45, 0.5);

}

.energy{
  position: absolute;
  border-radius: 12px;
  top: 750px;
  left: 47%;
  transform: translateX(-50%);
  background-color: black;
  height: 250px;
  width: 270px;
  opacity: 0.8;
  box-shadow: 0 0 10px rgba(46, 45, 45, 0.5);

}
.rewards{
  position: fixed;
  top: 380px;
  right: 20%;
  background-color: black;
  height: 350px;
  width:350px;
  border-radius: 12px;
  opacity: 0.8;
  box-shadow: 0 0 10px rgba(46, 45, 45, 0.5);
}


.endorsment{
  position: fixed;
  top: 700px;
  right: 20%;
  bottom: 10%;
  background-color: black;
  height: 300px;
  width:400px;
  border-radius: 12px;
  opacity: 0.86;
  box-shadow: 0 0 10px rgba(46, 45, 45, 0.5);

}
.onlinelist{
  position: relative;
  top: 10px;
  right: 0px;
  left: 1490px;
  height: 100vh;
  background-color: black;
  width: 300px;
  border-radius: 12px;
  opacity: 0.86;
  box-shadow: 0 0 10px rgba(46, 45, 45, 0.5);
}

.status-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 2px solid white;
  bottom: 0;
  right: 0;
  position: absolute;
  opacity: 0.86;
}



.levelalign{
  position: absolute;
  left: 140px;
  top:117px;
  
}

.progress-bar2 {
  height: 12px;
  border-radius: 30px;
  background-image: 
  linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.4s linear;  
  transition-property: width, background-color;    
}

.progress-moved .progress-bar2 {
  background-color:#8c5c03;  
  animation: progressAnimation 6s;

}

/* @keyframes progressAnimation {
  0%   { width: 5%; background-color: #bbb508;}
  100% { width: 20%; background-color: #8c5c03;  }
} */


.diamondalign{
  position: absolute;
  right: 155px;
}
.rubyalign{
  position: absolute;
  right: 105px;
}
.diamondalignafter{
  position: absolute;
  right: 185px;
}
.rubyalignafter{
  position: absolute;
  right: 135px;
}

.custom-toast {
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.5); /* Customize the glow color and strength */
}

.modalbox{
  height: 600px;
  width: 570px;
 position: absolute;
top: 200px;
left: 600px;
border-radius: 12px;
background-color: rgba(0, 0, 0, 0.639);
}

.coinalign{
  position: absolute;
  left: 400px;
}

.numberalign{
  position:absolute;
  left: 435px;
  top: 30px;
  color: rgba(234, 215, 6, 0.873);
}

.peoplebox{
  height: 700px;
  width:550px;
  background-color: rgba(0, 0, 0, 0.689);
  border-radius: 12px;
  


}
.modalboxalign{
 position: absolute;
 top:100px;
 left: 600px;
}

.pbalign{
  position: relative;
  right:335px;
  top: 100px;
}


.togglebox{
  height: 800px;
  width: 460px;
  background-color: rgba(1, 1, 1, 0.842);
 border-radius: 20px;
}


.bgbuttondiv{
  position: relative;
  top: 0px;
  width: 130px;
  border-radius: 300px;
  left: 150px;
  top: -30px;
  
}

.badgesbox{
 
  height: 130px;
  width: 130px;
 
}

.popupdiv{
  position: absolute;
  height: 200px;
  width: 470px;
  border-radius: 15px;
  background-color: rgb(0, 0, 0);
  right: 50px;
  top: 20px;
}

.newleveldiv{
  background-color: rgba(0, 0, 0, 0.731);
  position: absolute;
  height: 500px;
  width: 1000px;
  left: 400px;
  top: 250px;
  border-radius: 12px;
 
  
}

.leveltextp{
  background: linear-gradient(to top, rgb(222, 82, 18), rgb(210, 228, 7));
  -webkit-background-clip: text; 
  background-clip: text;
  color: transparent;
  position: absolute;
  top:180px;
  left: 472px;
}

.confpos{
  position: absolute;
  top: -30px;
  height: 500px;
  left: 270px;
  font-size: 30px;
}

.newl{
  background: linear-gradient(to top, rgba(60, 61, 57, 0.808), rgba(254, 254, 251, 0.947));
  -webkit-background-clip: text; 
  background-clip: text;
  color: transparent;
  position: absolute;
  top:180px;
  left: 240px;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.crewarddiv{
  position: absolute;
  bottom: 90px;
  left: 420px;
}


.button8{

  background-color: rgba(255, 255, 255, 0.108);
  color: rgba(255, 255, 255, 0.585);
  font-weight:400 ;
  border: 1 solid grey;
  border-radius: 12px;
  font-size: x-large;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
 
  margin-right: 50px;
  position: absolute;
  left: 418px;
  top: 430px;
 
}

.button8:hover{
    background: rgb(223, 220, 220);
    color: black;
    box-shadow: 0 0 5px lightslategray,
                0 0 25px lightslategray,
                0 0 50px lightslategray,
                0 0 200px lightslategray;
     -webkit-box-reflect:below 1px linear-gradient(transparent, rgba(94, 14, 14, 0.333));
}

.timeevents{
  background-color: rgba(9, 9, 9, 0.095);
  height: 47%;
  width: 100%;
  border-radius: 12px;
  
}

.updates{
  background-color: rgba(0, 0, 0, 0.055);
  height: 50%;
  border-radius: 12px;
}

.button9{

  background-color: rgb(255, 115, 115);
  color: black;
  font-weight:500 ;
  border: 1px solid rgba(255, 0, 0, 0.498);
  border-radius: 8px;
  font-size: large;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-right: 50px;
}

.button9:hover{
    background: lightcoral;
    color: white;
    box-shadow: 0 0 5px lightcoral,
                0 0 25px lightcoral,
                0 0 50px lightcoral,
                0 0 200px lightcoral;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

.tlealign{
  position: absolute;
  left: 240px;
  border: 1px solid rgba(255, 191, 0, 0.508);
}

.tlealign:hover{
  background-color: rgba(255, 170, 0, 0.324);
  color: black;
  border-radius: 12px;
  border: 1px solid rgba(255, 179, 0, 0.183);
}


.button10{

  background-color: rgba(119, 136, 153, 0.14);
  color: white;
  font-weight:500 ;
  border: 1px solid rgba(255, 255, 224, 0.068);
  border-radius: 8px;
  font-size: large;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  padding-top: 0px;
  padding-bottom: 0px;

}

.button10:hover{
    background: lightyellow;
    color: black;
    box-shadow: 0 0 5px lightyellow,
                0 0 25px lightyellow,
                0 0 50px lightyellow,
                0 0 200px lightyellow;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}


.learningstreakdiv{
  height: 500px;
  width: 1100px;
  top: 270px;
  left: 350px;
  background-color: rgb(0, 0, 0);
  border-radius: 15px;
  position: absolute;
}

.completedalign{
  position: absolute;
  left: 196px;
}

.carouseldiv{
  position: relative;
  height: 280px;
  width:1000px;
  border-radius: 12px;
  top: 50px;
  background-color: rgba(255, 255, 255, 0.045);
}

.carddiv{
  position: relative;
  height: 230px;
  width: 300px;
  background-color: rgba(25, 148, 255, 0.202);
  border-radius: 12px;
  top: 12px;
  left: 10px;
  margin-right: 20px;
  border: dotted;
}

.missions{
  position: relative;
  width: 100%;
  height: 160px;
  top: 300px;
  border-radius: 15px;
}
.faunpos{
  position: absolute;
  top: 165px;
}

.completedcarddiv{
  position: relative;
  height: 230px;
  width: 300px;
  background-color: black;
  border-radius: 12px;
  top: 12px;
  left: 10px;
  margin-right: 20px;
}